html,
body {
    width: 100%;
    height: 100%;
    background: #fafafa;
}

.header {
    position: relative;
    width: 100%;
    height: 7.45rem;
}

.h-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.h-slider .si-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.h-slider .si-container li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.h-slider .si-container li img {
    width: 100%;
    height: 100%;
}

.header .h-pagination {
    display: flex;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: .51rem;
    justify-content: center;
    align-items: flex-end;
}

.h-pagination li {
    width: .16rem;
    height: .16rem;
    margin-right: .26rem;
    border-radius: .16rem;
    background: #fff;
    cursor: pointer;
}

.h-pagination li.active {
    height: 100%;
    transition: height .3s;
}

.h-pagination li:nth-child(4) {
    margin-right: 0;
}

.header .h-primary {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header .h-primary .pr-top {
    width: 100%;
}

.pr-top .pr-top-tip {
    width: 100%;
    height: .38rem;
    background: rgba(0, 0, 0, .1);
}

.pr-top-tip .tip-wrapper {
    position: relative;
    width: 12rem;
    height: 100%;
    margin: 0 auto;
}

.pr-top-tip .tip-wrapper a {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: .38rem;
    text-align: center;
    color: #fff;
}

.pr-top-tip .tip-wrapper a.active {
    display: block;
}

.pr-top-tip .tip-wrapper a:hover {
    text-decoration: underline;
}

.pr-top .pr-top-nav {
    display: flex;
    width: 12rem;
    margin: 0 auto;
}

.pr-top-nav h1 a {
    display: block;
}

.pr-top-nav h1 a img {
    width: 1.37rem;
    height: .78rem;
}

.pr-top-nav .nav-list {
    display: flex;
    width: 6.17rem;
    margin: .20rem 0 0 1.5rem;
    justify-content: space-between;
}

.pr-top-nav .nav-list a {
    font-size: .24rem;
    color: #fff;
}

.pr-top-nav .nav-sign {
    display: flex;
    width: .85rem;
    margin: .20rem 0 0 1.5rem;
    justify-content: space-between;
}

.pr-top-nav .nav-sign a {
    color: #fff;
    font-size: .18rem;
}

.pr-top-nav .nav-list a:hover,
.pr-top-nav .nav-sign a:hover {
    color: #f67a79;
}

.pr-searchbar {
    width: 7.8rem;
    margin-bottom: .5rem;
}

.pr-searchbar .se-input {
    position: relative;
    width: 100%;
}

.se-input input {
    width: 100%;
    height: .65rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.se-input i {
    position: absolute;
    right: .39rem;
    top: .13rem;
    width: .45rem;
    height: .37rem;
    background: url('../img/header/icon.png') no-repeat 0 -.45rem;
    background-size: .45rem auto;
}

.se-keyword {
    display: flex;
    width: 3.24rem;
    margin: .2rem auto 0;
    justify-content: space-between;
    color: #fff;
    font-size: .16rem;
}

.content {
    width: 100%;
    margin: .34rem 0 .56rem;
}

.content .c-classification {
    width: 12rem;
    margin: 0 auto;
    padding: .34rem .55rem .45rem;
    background: #fff;
    box-sizing: border-box;
}

.c-classification .cl-title {
    width: 2.88rem;
    padding-bottom: .2rem;
    margin: 0 auto;
}

.c-classification .cl-title h2,
.c-featured .fe-title h2,
.ab-title-bg .ab-title h2 {
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    font-size: .32rem;
    border-bottom: 2px solid #AEAEAE;
}

.c-classification .cl-title p,
.c-featured .fe-title p,
.ab-title-bg .ab-title p {
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .2rem;
    color: #6F6F6F;
}

.c-classification .cl-content {
    width: 100%;
}

.cl-content .cl-co-title {
    display: flex;
    width: 3.24rem;
    margin: .26rem auto;
    justify-content: space-between;
    font-size: .16rem;
}

.cl-content .cl-co-title li {
    width: .7rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .16rem;
}

.cl-content .cl-co-title li:hover {
    cursor: pointer;
    border: 1px solid #799ff6;
}

.cl-content .cl-co-title li.active {
    background: rgba(0, 0, 0, .1);
    border-radius: .16rem;
}

.cl-content .cl-co-pictures {
    width: 100%;
}

.cl-co-pictures .item {
    display: none;
}

.cl-co-pictures .item.active {
    display: block;
}

.cl-co-pictures .pic-wrapper {
    display: flex;
    height: 3.97rem;
    justify-content: space-between;
}

.cl-co-pictures .pic-wrapper a {
    width: auto;
}

.cl-co-pictures .pic-wrapper img {
    height: 100%;
}

.cl-co-pictures .pic-wrapper .pic-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cl-co-pictures .pic-wrapper .pic-left .le-top,
.cl-co-pictures .pic-wrapper .pic-left .le-down {
    display: flex;
    width: 8.78rem;
    height: 1.9rem;
    justify-content: space-between;
}

.pic-wrapper .pic-left .le-top a:nth-child(1)>img {
    width: 3.85rem;
}

.pic-wrapper .pic-left .le-top a:nth-child(2)>img {
    width: 2.06rem;
}

.pic-wrapper .pic-left .le-top a:nth-child(3)>img {
    width: 2.53rem;
}

.pic-wrapper .pic-left .le-down a:nth-child(1)>img {
    width: 2.51rem;
}

.pic-wrapper .pic-left .le-down a:nth-child(2)>img {
    width: 1.84rem;
}

.pic-wrapper .pic-left .le-down a:nth-child(3)>img {
    width: 4.08rem;
}

.pic-wrapper .pic-right a img {
    width: 1.95rem;
    height: 100%;
}

.cl-content .cl-co-pictures .pic-more {
    display: flex;
    width: 8.5rem;
    height: .15rem;
    margin: .5rem auto 0;
    justify-content: space-between;
    align-items: center;
}

.cl-content .cl-co-pictures .pic-more i {
    width: 3.72rem;
    height: 1px;
    background: #ccc;
}

.cl-content .cl-co-pictures .pic-more a {
    font-size: .16rem;
    color: #ff2626;
}

.cl-content .cl-co-pictures .pic-more a:hover {
    text-decoration: underline;
}

.c-featured {
    position: relative;
    width: 100%;
    margin: .25rem 0 1.4rem 0;
}

.c-featured .fe-title {
    width: 100%;
    height: 3.03rem;
    background: url('../img/content/featured/fe-title.webp') no-repeat center/100% auto;
}

.c-featured .fe-title h2 {
    width: 2.88rem;
    color: #fff;
    padding-top: .7rem;
    margin: 0 auto;
}

.c-featured .fe-title p {
    width: 2.88rem;
    color: #fff;
    margin: 0 auto;
}

.c-featured .wrapper {
    position: absolute;
    top: 2.19rem;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 12rem;
    overflow: hidden;
}

.c-featured .fe-content {
    position: absolute;
    top: .87rem;
    left: 0;
    width: 12rem;
    height: 10.92rem;
}

.c-featured .fe-gap {
    width: 12rem;
    height: 10.92rem;
    margin: .03rem auto 0;
}

.fe-content .co-slider {
    position: absolute;
    display: flex;
    height: 10.22rem;
}

.fe-content .co-slider .item-wrapper {
    display: flex;
    width: 12rem;
    height: 100%;
    justify-content: space-between;
}

.fe-content .co-slider .item-wrapper:nth-child(1) {
    margin-right: .525rem;
}

.fe-content .co-slider .sl-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fe-content .co-slider .sl-column.active {
    transform: translateY(-.84rem);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2), -1px -1px 3px rgba(0, 0, 0, .2);
    transition: all .5s ease-in-out;
}

.fe-content .co-slider .sl-column a {
    position: relative;
}

.co-slider .sl-column a .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 59, 88, .7);
    transform: scale(0, 0);
    transition: all .5s ease-in-out;
}

.co-slider .sl-column a:hover .mask {
    transform: scale(1, 1);
}

.sl-column a .mask .ma-text {
    width: 2.2rem;
    height: .86rem;
    margin: 3.7rem 0 0 .42rem;
    color: #fff;
}

.mask .ma-text h4 {
    width: 100%;
    height: .46rem;
    text-align: left;
    line-height: .46rem;
    font-size: .24rem;
    border-bottom: 1px solid #fafafa;
}

.mask .ma-text p {
    display: flex;
    width: 100%;
    height: .36rem;
    text-align: left;
    line-height: .36rem;
    justify-content: space-between;
}

.fe-content .co-slider .sl-column img {
    width: 3.65rem;
    height: 4.94rem;
}

.fe-content .co-pagination {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: .51rem;
    padding-top: .18rem;
    align-items: flex-end;
    justify-content: center;
}

.fe-content .co-pagination li {
    width: .16rem;
    height: .16rem;
    margin-left: .26rem;
    border-radius: .16rem;
    background: #979797;
}

.fe-content .co-pagination li:nth-child(1) {
    margin-left: 0;
}

.fe-content .co-pagination li.active {
    height: .51rem;
    transform: height .5s;
}

.c-about {
    width: 100%;
}

.c-about .ab-title-bg {
    display: flex;
    width: 100%;
    height: 1.48rem;
    background: url('../img/content/about/ab-title.webp') no-repeat center/100% auto;
    justify-content: center;
}

.c-about .ab-title-bg .ab-title {
    display: flex;
    flex-direction: column;
    width: 2.88rem;
    justify-content: center;
}

.ab-title-bg .ab-title h2,
.ab-title-bg .ab-title p {
    color: #fff;
}

.c-about .ab-content {
    position: relative;
    display: flex;
    width: 12rem;
    height: 5.95rem;
    margin: .34rem auto .17rem;
    align-items: center;
    justify-content: space-between;
}

.c-about .ab-content .ab-co-left {
    position: absolute;
    width: 6.38rem;
    height: 4.5rem;
}

.c-about .ab-content .ab-co-left:hover img {
    filter: blur(1px);
}

.ab-content .ab-co-left a {
    position: relative;
    display: block;
}

.ab-content .ab-co-left a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.14rem;
    height: 1.14rem;
    background: url('../img/header/icon.png') no-repeat 0 0/100% auto;
}

.ab-content .ab-co-left a img {
    display: block;
    width: 6.38rem;
    height: 4.5rem;
    filter: blur(0);
}

.ab-content .ab-co-right {
    width: 6.4rem;
    height: 100%;
    padding: 1.13rem .56rem .72rem 1.23rem;
    box-sizing: border-box;
    background: #fff;
}

.ab-content .ab-co-right h3 {
    width: 100%;
    margin-bottom: .26rem;
    font-size: .3rem;
    text-align: center;
}

.ab-content .ab-co-right p {
    width: 100%;
    margin-bottom: .6rem;
    font-size: .22rem;
    text-align: left;
    text-indent: 2em;
    line-height: .44rem;
    color: #525252;
}

.ab-content .ab-co-right .more {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.ab-co-right .more a {
    margin-right: .2rem;
    text-align: right;
    color: #ff2626;
    font-size: .2rem;
}

.ab-co-right .more a:hover {
    text-decoration: underline;
}

.c-advantage {
    width: 100%;
    height: 3.84rem;
    margin-bottom: .56rem;
    background: #fff;
}

.c-advantage .ad-list {
    display: flex;
    width: 12rem;
    padding: .62rem .25rem 0;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
}

.c-advantage .ad-list li {
    display: flex;
    width: 1.37rem;
    flex-direction: column;
    align-items: center;
}

.c-advantage .ad-list li i {
    width: 1.37rem;
    height: 1.37rem;
    margin-bottom: .3rem;
    border-radius: 1.37rem;
    background: #6BC0EC;
}

.c-advantage .ad-list li span {
    font-size: .26rem;
}

.footer {
    width: 100%;
    height: 3.52rem;
    background: #fff;
    border-top: 1px solid #4C4C4C;
}

.footer .f-container {
    display: flex;
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    padding: .76rem 0 1.4rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.f-container .f-logo img {
    width: 1.7rem;
    height: .97rem;
}

.f-container .f-question {
    display: flex;
    flex-wrap: wrap;
    width: 2.82rem;
    justify-content: space-between;
}

.f-container .f-question a {
    font-size: .24rem;
    margin-bottom: .28rem;
}

.f-container .f-question a:hover {
    color: #f67a79;
}

.f-container .f-question a:nth-child(5),
.f-container .f-question a:nth-child(6) {
    margin-bottom: 0;
}

.f-container .f-connect {
    display: flex;
    width: 3.42rem;
    align-items: center;
}

.f-container .f-connect .f-co-QR img {
    width: 1.36rem;
    height: 1.36rem;
}

.f-container .f-connect .f-co-contact {
    margin-left: .21rem;
}

.f-container .f-connect .f-co-contact h5 {
    font-size: .24rem;
    padding: .1rem 0;
    margin-right: .17rem;
    border-bottom: 1px solid #000;
}

.f-container .f-connect .f-co-contact p {
    margin-top: .1rem;
}